<ul class="nav nav-pills" style="display: flex;flex-direction: row;justify-content: center;gap:24px;padding: 12px;">
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLinkActive="active"
      [routerLink]="['home']"
      >home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLinkActive="active"
      [routerLink]="['poc-service']"
      >Service test.</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLinkActive="active"
      [routerLink]="['poc-form']"
      >Poc Form.</a
    >
  </li>
</ul>
<router-outlet></router-outlet>
